Wifi/flows.json
[
    {
        "id": "caccea6fc25bbfaf",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "042cc42f64abaaae",
        "type": "mqtt in",
        "z": "caccea6fc25bbfaf",
        "name": "",
        "topic": "4ID3_Group5/humidity",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6c165af7d804d0d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 320,
        "y": 140,
        "wires": [
            [
                "f1b507961ea65a6f",
                "a3e116714b5278d5"
            ]
        ]
    },
    {
        "id": "f1b507961ea65a6f",
        "type": "debug",
        "z": "caccea6fc25bbfaf",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 140,
        "wires": []
    },
    {
        "id": "a3e116714b5278d5",
        "type": "ui_chart",
        "z": "caccea6fc25bbfaf",
        "name": "humidity",
        "group": "09f00c0f5157acc4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "8bcff7c131ab98ee",
        "type": "mqtt in",
        "z": "caccea6fc25bbfaf",
        "name": "",
        "topic": "4ID3_Group5/temperature",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6c165af7d804d0d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 400,
        "wires": [
            [
                "3bd702e6bdd942e5",
                "b220df7dfe1c647b"
            ]
        ]
    },
    {
        "id": "3bd702e6bdd942e5",
        "type": "debug",
        "z": "caccea6fc25bbfaf",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 400,
        "wires": []
    },
    {
        "id": "b220df7dfe1c647b",
        "type": "ui_chart",
        "z": "caccea6fc25bbfaf",
        "name": "temp",
        "group": "09f00c0f5157acc4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "606a35efdd0a4a76",
        "type": "mqtt in",
        "z": "caccea6fc25bbfaf",
        "name": "",
        "topic": "4ID3_Group5/light",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "6c165af7d804d0d5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 660,
        "wires": [
            [
                "5237f29eb47ed4da",
                "ed2c2970fce51221"
            ]
        ]
    },
    {
        "id": "5237f29eb47ed4da",
        "type": "debug",
        "z": "caccea6fc25bbfaf",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 660,
        "wires": []
    },
    {
        "id": "ed2c2970fce51221",
        "type": "ui_chart",
        "z": "caccea6fc25bbfaf",
        "name": "light",
        "group": "09f00c0f5157acc4",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "light",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "6c165af7d804d0d5",
        "type": "mqtt-broker",
        "name": "hive",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "09f00c0f5157acc4",
        "type": "ui_group",
        "name": "Default",
        "tab": "7fb6a2f211724dd2",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7fb6a2f211724dd2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]